
main h2{
    text-transform: uppercase;
    font-size: 3.0rem;
}

img{
    width: 100%;
}

#services figure{
    display: flex;
    min-height: 300px ;
    flex-wrap: wrap;
    justify-content: center;
}

#services figcaption{
    text-transform: uppercase;
    color: rgb(90, 0, 139);
    font-weight: bold;
    align-self: flex-end;
    text-align: center;
    font-size: 1.6rem;
}   


#about .container .row .col:nth-child(1){
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

#about img {
    width: 50%;
}

#about h3{
    text-transform: uppercase;
    color: rgb(90, 0, 139);
    font-weight: bold;
    font-size: 2.6rem;
}

#about p{
    text-align: justify;
    font-size: 1.6rem;
}

#contact{
    font-size: 1.6rem;
}

#contact ul{
    list-style: none;
}

#contact .btn{
    font-size: 1.6rem;
}

#newsletter{
    background-color: #eee;
}

#newsletter{
    font-size: 1.6rem;
}

.form-control, .btn{
    font-size: 1.6rem;
}


